.col2 { min-width: 210px; }
.col3 { min-width: 320px; }
.col4 { min-width: 430px; }
.col5 { min-width: 540px; }
.col6 { min-width: 650px; }
.col7 { min-width: 760px; }
.col8 { min-width: 870px; }

.row2 { min-height: 210px; }
.row3 { min-height: 320px; }
.row4 { min-height: 430px; }
.row5 { min-height: 540px; }
.row6 { min-height: 650px; }
.row7 { min-height: 760px; }
.row8 { min-height: 870px; }
.row9 { min-height: 980px; }
.row10 { min-height: 1000px; }